@font-face {
   font-family: 'NanumSquareB';
   font-display: swap;
   src: url('file:///C:/Users/zhang/Google%20%EB%93%9C%EB%9D%BC%EC%9D%B4%EB%B8%8C/%EB%AA%A8%EB%B0%94%EC%9D%BC%EB%9D%BC%EC%9D%B4%EC%A6%88/test/fonts/NanumSquareB/font.ttf');
}
