@font-face {
   font-family: 'NanumSquareB';
   font-display: swap;
   src: url('file:///C:/Users/REY%20NAM/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-07_161845/fonts/NanumSquareB/font.ttf');
}
